.catalog__list {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @tablet) {
    row-gap: 54px;
    padding-top: 67px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 50px;
    padding-top: 110px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 195px auto auto auto;
  margin: 0 auto;
  box-shadow: inset 0 0 0 1px @gray-medium;

  @media (min-width: @tablet) {
    grid-template-columns: 334px 167px 167px;
    grid-template-rows: auto 172px auto;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 158px 158px;
    grid-template-rows: 462px auto auto auto;
  }
}

.catalog__link {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;

  img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.catalog__name {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;

  padding: 27px 27px 6px 27px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 20px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.catalog__parameters {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;

  padding-bottom: 17px;
  margin-left: 27px;
  margin-right: 27px;

  font-size: 13px;
  line-height: 30px;
  color: @black-medium;
  border-bottom: @border-gray;

  @media (min-width: @tablet) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 36px;
    font-size: 15px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.catalog__price {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;

  padding: 22px 0 27px 27px;

  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 17px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.catalog__button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-self: end;

  width: 35px;
  margin: 22px 27px 27px 0;
  color: @black-opacity-02;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  &:hover,
  &:focus {
    color: @green;
  }

  &:active {
    color: @green;
    opacity: 0.3;
  }
}
