.catalog__wrapper-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 177px;

  background-color: @white-dark;
}

.catalog__title {
  width: @mobile;
  padding: 40px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.catalog__list {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog__wrapper-text {
  padding: 27px;

  border: @border-gray;
}

.catalog__link {
  display: flex;
}

.catalog__name {
  margin-bottom: 6px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.catalog__parameters {
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
  color: @black-medium;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  border-top: @border-gray;
}

.catalog__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
