.checkbox-list {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.checkbox-list__item {
  height: 38px;

  &:not(:last-child) {
    margin-bottom: 21px;
  }

  input {
    & + label::before {
      top: 0;
      left: 2px;
    }

    &:checked + label::after {
      top: 6px;
      left: 17px;
      width: 12px;
      height: 22px;
      border-bottom: 2px solid @black;
      border-right: 2px solid @black;
      transform: rotate(45deg);
    }

    &:disabled + label::before {
      border: 2px solid gray;
      cursor: default;
    }

    &:checked:disabled + label::after {
      border-bottom: 2px solid gray;
      border-right: 2px solid gray;
      cursor: default;
    }

    &:not(:disabled):hover + label::before {
      border: 2px solid @green-light;
    }

    &:not(:disabled):active + label::before,
    &:not(:disabled):focus + label::before {
      border: 2px solid @black-medium-opacity-03;
    }
  }

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    width: 210px;
    margin-bottom: 35px;

    &:not(:nth-child(2n)) {
      margin-right: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    input {
      & + label::before {
        top: -4px;
        left: -2px;
      }

      &:checked + label::after {
        top: 1px;
        left: 16px;
        width: 16px;
        height: 29px;
        border-bottom: 2px solid @black;
        border-right: 2px solid @black;
        transform: rotate(45deg);
      }
    }
  }

  @media (min-width: 989px) {
    width: 215px;

    &:not(:nth-child(2n)) {
      margin-right: 120px;
    }
  }

  @media (min-width: @desktop) {
    width: 180px;
    padding: 30px 0 30px 80px;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: 81px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &--color {
      padding-top: 55px;
    }

    input {
      & + label::before {
        top: 2px;
        left: -1px;
      }

      &:checked + label::after {
        top: 9px;
        left: 16px;
      }
    }
  }
}
