.checkbox-list {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.checkbox-list__item {
  height: 38px;

  &::before {
    top: -10px;
    left: 0;
  }

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    width: 190px;

    &:not(:nth-child(2n)) {
      margin-right: 109px;

      @media (min-width: @desktop) {
        margin-right: 0;
      }
    }

    &:not(:nth-child(3n)) {
      @media (min-width: @desktop) {
        margin-right: 70px;
      }
    }
  }
}
