.contacts {
  padding-top: 38px;
  padding-bottom: 30px;
}

.contacts__title {
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__map {
  display: flex;
  width: @mobile;
  margin: 0 auto;
  padding-bottom: 40px;
}

.contacts__link {
  padding: 5px 10px;
  margin: 0 auto;
}
