.content {
  position: relative;

  background-color: @white-darker;
  background-image: url("../img/index-page/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -20px;

  @media (min-resolution: @resolution) {
    background-image: url("../img/index-page/hero-mobile@2x.jpg");
    background-size: 330px 375px;
  }

  @media (min-width: @tablet) {
    background-image: url("../img/index-page/hero-desktop.jpg");
    background-position-y: -67px;

    @media (min-resolution: @resolution) {
      background-image: url("../img/index-page/hero-desktop@2x.jpg");
      background-size: 1150px 745px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 20px;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-size: contain;
    }
  }

  @media (min-width: @desktop) {
    &::after {
      height: 34px;
    }
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 490px;
  max-width: @desktop;
  margin: 0 auto;

  @media (min-width: @tablet) {
    min-height: 683px;
  }

  @media (min-width: @desktop) {
    min-height: 695px;
  }
}

.content__title {
  padding: 75px 30px 20px 30px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet) {
    padding: 90px 50px 20px 50px;
    font-size: 43px;
    line-height: 50px;

    &--mobile {
      display: none;
    }
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.content__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: auto;

  @media (min-width: @tablet) {
    flex-direction: row;
    padding: 0 50px;
  }
}

.content__link {
  --height-content-link: 103px;

  display: flex;
  justify-content: space-between;

  min-width: 50%;
  min-height: var(--height-content-link);
  padding: 20px 30px;

  font-weight: bold;
  font-size: 19px;
  color: @white;
  background-color: @green;

  &:nth-child(2) {
    background-color: @green-dark;
  }

  svg {
    opacity: 0.5;
  }

  @media (min-width: @tablet) {
    --height-content-link: 123px;
    padding-left: 40px;
    padding-top: 30px;
  }

  @media (min-width: @desktop) {
    --height-content-link: 134px;
  }

  &:hover {
    min-height: calc(var(--height-content-link) + 5px);
    margin-top: -6px;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.7;
  }

  &:active svg {
    opacity: 0.3;
  }
}
