.contacts {
  padding-top: 38px;
}

.contacts__title {
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__link {
  margin: 40px 30px;
  padding: 5px 10px;
}
