.contacts {
  padding-top: 38px;
}

.contacts__title {
  padding-left: 30px;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.detailed {
  margin: 0;
  padding: 0 30px 62px 30px;
}

.detailed__item {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  color: @black-medium;
}

.detailed__name {
  width: 76px;
}

.detailed__description {
  margin: 0;
}

.detailed__description address {
  font-style: normal;
}

.contacts__link {
  margin: 40px 30px;
  padding: 5px 10px;
}
