.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;

  @media (min-width: @tablet) {
    padding-top: 0;
  }
}

.copyright__title {
  padding-left: 40px;
  padding-right: 27px;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: flex;
}

.copyright__link svg {
  width: 27px;
  height: 34px;

  color: @green;
}
