.description {
  margin: 0;

  @media (min-width: @tablet) {
    margin-bottom: 57px;
  }
}

.description__item {
  display: flex;
  min-height: 39px;

  font-size: 15px;
  line-height: 20px;
  color: @black-medium;
  border-bottom: @border-gray;
}

.description__name {
  width: 97px;
}

.description__feature {
  margin: 0;
}
