.description {
  margin: 0;

  @media (min-width: @tablet) {
    margin-bottom: 60px;
    margin-top: 48px;
  }

  @media (min-width: @desktop) {
    margin-top: 58px;
    margin-bottom: 60px;
  }
}

.description__item {
  display: flex;
  min-height: 25px;
  padding-bottom: 12px;

  font-size: 15px;
  line-height: 20px;
  color: @black-medium;
  border-bottom: @border-gray;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.description__name {
  width: 97px;
}

.description__feature {
  margin: 0;
}
