.detailed {
  margin: 0;
  padding-bottom: 62px;
}

.detailed__item {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  color: @black-medium;
}

.detailed__name {
  width: 76px;
}

.detailed__description {
  margin: 0;
}

.detailed__description address {
  font-style: normal;
}
