.detailed {
  margin: 0;
  padding-bottom: 62px;

  @media (min-width: @tablet) {
    display: flex;
    margin-top: 22px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
    padding-bottom: 62px;
  }
}

.detailed__item {
  display: flex;

  font-size: 14px;
  line-height: 30px;
  color: @black-medium;

  &:first-child {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet) {
    font-size: 17px;

    &:first-child {
      margin-right: 53px;
    }
  }

  @media (min-width: @desktop) {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

.detailed__name {
  width: 76px;
  padding-right: 10px;
}

.detailed__description {
  width: 188px;
  margin: 0;

  @media (min-width: @tablet) {
    width: 260px;
  }
}

.detailed__description address {
  font-style: normal;
}

.detailed__link {
  border-bottom: 1px solid @green-light;

  &:hover,
  &:focus {
    color: @green-light;
  }

  &:active {
    border-bottom: 1px solid @green-light-opacity-01;
  }
}
