.form-request {
  padding-top: 18px;
  padding-bottom: 28px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form-request__title {
  margin-bottom: 25px;
  line-height: 16px;
  text-transform: uppercase;
  color: @green;
}

.form-request__item:not(:last-of-type) {
  margin-bottom: 43px;
}

.form-request__list li {
  margin-bottom: 23px;
  padding-left: 60px;
}

.form-request__input {
  height: 52px;
  border: none;
  border-bottom: 1px solid @black;
}

.form-request__textarea {
  height: 142px;
  margin-bottom: 17px;
  resize: none;
}

.form-request__field {
  min-width: @element-width;

  &::placeholder {
    padding: 17px;
    font-size: 17px;
    line-height: 18px;
    color: @black-opacity;
  }
}

.form-request__note {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @black-medium;
}

.form-request__button {
  margin-top: 30px;
  margin-bottom: 28px;
  background-color: transparent;
}
