.under-the-order__title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;

  color: #000000;
}

.under-the-order__text {
  font-family: Open Sans;
  font-size: 13px;
  line-height: 24px;

  color: #444444;
}

.form-request__title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  color: #63D1BB;

}

.form-request__list {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  color: #000000;
}
