.main-nav__item {
  display: flex;
  align-items: center;
  min-width: @mobile;
  min-height: 79px;
  padding-left: 44px;
  border-bottom: @border-gray;
}

.main-nav__item:first-child {
  border-top: @border-gray;
}

.main-nav__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
