.modal {
  display: none;
}

.modal__show {
  display: block;
}

.modal__base {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: @white-opacity-09;
}

.modal__form-wrapper {
  position: fixed;
  z-index: 5;
  top: 45%;
  left: 50%;
  width: @mobile;
  min-height: 336px;
  margin: 0 auto;
  padding: 35px 30px;

  transform: translate(-50%, -50%);
  background-color: @white;
  box-shadow: @modal-window-shadow;

  @media (min-width: @tablet) {
    width: 566px;
    padding: 35px 105px;
  }
}

.modal__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 12px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 20px;

  color: @black-medium;

  @media (min-width: @tablet) {
    font-size: 17px;
  }
}

.modal__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 23px;
}

.modal__item {
  margin-bottom: 7px;

  &:not(:last-child) {
    margin-right: 7px;
  }
}

.modal__size-label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 82px;
  height: 52px;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;

  background-color: @white;
  border: 2px solid @black-medium-opacity-01;
  outline: none;

  &:hover {
    border: 2px solid @black-medium-opacity-03;
  }

  &:focus,
  &:active {
    border: 2px solid @green;
  }

  @media (min-width: @tablet) {
    width: 112px;
  }
}

.modal__size-input:checked + .modal__size-label {
  border: 2px solid @green;
}

.modal__button {
  width: 260px;
  min-height: 52px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  background-color: @green;
  border: none;

  @media (min-width: @tablet) {
    width: 350px;
  }
}
