.page-header {
  position: relative;

  @media (min-width: @tablet) {
    padding: 0 50px;
  }
}

.page-header__logo {
  display: flex;
  width: 90px;
  height: min-content;
  padding: 22px 0;
  margin: 0 auto;

  @media (min-width: @tablet) {
    position: absolute;
  }

  @media (min-width: @desktop) {
    left: 50%;
  }
}
