.page-header {
  @media (min-width: @tablet) {
    background-image: @header-gradient;
  }

  @media (min-width: @tablet) {
    &--dark {
      background-image: @header-gradient-dark;
    }
  }
}

.page-header__wrapper-logo {
  position: relative;
  max-width: @desktop;
  margin: 0 auto;
}

.page-header__logo {
  display: flex;
  width: 90px;
  height: min-content;
  padding: 22px 0;
  margin: 0 auto;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    position: absolute;
    left: 50px;
    z-index: 1;
    width: 115px;
    padding: 18px 0;
  }

  @media (min-width: @desktop) {
    left: 43%;
    width: 150px;
    padding-top: 10px;
  }

  img {
    width: 86px;
    height: 35px;
    vertical-align: middle;

    @media (min-width: @tablet) {
      width: 114px;
      height: 46px;
    }

    @media (min-width: @desktop) {
      width: 149px;
      height: 72px;
    }
  }
}
