.process {
  width: @mobile-content-width;
  min-height: 503px;
  margin-bottom: 58px;
  padding-top: 10px;
  padding-bottom: 15px;

  border: @border-gray;
}

.process__title {
  padding: 11px 16px 26px 91px;
}

.process__text {
  padding: 35px 20px 30px 34px;

  font-size: 13px;
  line-height: 24px;
  color: @black-medium;
}

.process__link {
  width: 192px;
  margin: 11px 34px 17px 34px;

  line-height: 16px;
}
