.process {
  width: @element-width;
  min-height: 503px;
  margin: 30px 30px 58px 30px;
  border: 1px solid @gray-medium;
}

.process__title {
  padding: 21px 16px 26px 91px;
}

.process__text {
  padding: 35px 20px 30px 34px;
  font-size: 13px;
  line-height: 24px;
  color: @black-medium;
}

.process__link {
  width: 192px;
  margin: 11px 34px 33px 34px;
  line-height: 16px;
}
