.product-hit {
  min-height: 795px;
  padding-top: 31px;
  padding-bottom: 20px;

  @media (min-width: @tablet) {
    min-height: 550px;
    padding-top: 48px;
    padding-bottom: 36px;
  }

  @media (min-width: @desktop) {
    min-height: 732px;
    padding-top: 69px;
  }
}

.product-hit__wrapper {
  position: relative;
}

.product-hit__title-wrapper {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop) {
    z-index: 1;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 10px;
  }
}

.product-hit__title {
  padding-bottom: 3px;

  @media (min-width: @desktop) {
    order: 2;
  }
}

.product-hit__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @green;

  @media (min-width: @tablet) {
    padding-right: 25px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: @desktop) {
    padding-right: 55px;
    padding-left: 48px;
  }

  br {
    display: none;

    @media (min-width: @tablet) {
      display: block;
    }
  }
}

.product-hit__text-wrapper {
  @media (min-width: @tablet) {
    width: 292px;
    margin-top: 35px;
  }

  @media (min-width: @desktop) {
    margin-left: 170px;
    margin-top: 0;
    padding-top: 10px;
  }
}

.product-hit__text {
  margin-top: 14px;
  margin-bottom: 28px;
  color: @black-medium;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}

.product-hit-img {
  display: flex;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 27px;

  @media (min-width: @tablet) {
    position: absolute;
    top: 75px;
    right: 54px;
    width: 334px;
    height: 457px;
  }

  @media (min-width: @desktop) {
    top: -38px;
    right: 50px;
    width: 525px;
    height: 690px;
    z-index: -1;
  }
}

.product-hit__price {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black-medium;

  @media (min-width: @tablet) {
    font-size: 20px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop) {
    padding-top: 55px;
  }
}

.product-hit__link {
  padding: 5px 10px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: 292px;
  }
}
