.product-hit {
  min-height: 795px;
  padding: 31px 30px 36px 30px;
}

.product-hit__title {
  padding-bottom: 3px;
}

.product-hit__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @green;
}

.product-hit__text {
  margin-top: 17px;
  margin-bottom: 28px;
  color: @black-medium;
}

.description {
  margin: 0;
}

.description__item {
  min-height: 39px;
  display: flex;
  font-size: 15px;
  line-height: 20px;
  color: @black-medium;
  border-bottom: 1px solid @gray-medium;
}

.description__name {
  width: 97px;
}

.description__feature {
  margin: 0;
}

.product-hit-img {
  margin-top: 28px;
  margin-bottom: 25px;
}

.product-hit__price {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black-medium;
}

.product-hit__link {
  padding: 5px 10px;
  margin-top: 25px;
}
