.radio-list__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (min-width: @tablet) {
    &:not(:last-child) {
      margin-bottom: 57px;
    }
  }
}

.radio-list__checked {
  & + label::before {
    top: -8px;
    left: 0;
    border-radius: 50%;
  }

  &:checked + label::after {
    top: -2px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: @green-light;
    border-radius: 50%;
  }

  &:disabled + label::before {
    border: 2px solid gray;
    cursor: default;
  }

  &:checked:disabled + label::after {
    background-color: grey;
    cursor: default;
  }

  &:not(:checked):disabled + label::after {
    background-color: grey;
    cursor: default;
  }

  &:not(:disabled):hover + label::before {
    border: 2px solid @green-light;
  }

  &:not(:disabled):active + label::before,
  &:not(:disabled):focus + label::before {
    border: 2px solid @black-medium-opacity-03;
  }

  @media (min-width: @tablet) {
    & + label::before {
      top: -17px;
    }
  }
}
