.slider-reviews {
  padding-top: 30px;
  padding-bottom: 30px;
}

.slider-reviews__title {
  margin-bottom: 14px;
}

.slider-reviews__item {
  display: none;
  margin-bottom: 30px;
}

.slider-reviews__item--active {
  display: block;
}

.slider-reviews__text {
  margin-bottom: 33px;

  line-height: 30px;
  color: @black-medium;
}

.slider-reviews__author {
  display: flex;
  flex-direction: column;

  font-style: normal;
}

.slider-reviews__wrapper {
  display: flex;
}

.slider-reviews__button {
  width: 130px;
  height: 52px;

  background-color: transparent;
  border: @border-gray;
}

.slider-reviews__link {
  margin-top: 38px;
}
