.social-icon {
  padding-top: 13px;
  padding-bottom: 27px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid @gray;
}

.social-icon__item {
  margin: 0 18px;
}

.social-icon__link {
  width: 25px;
  height: 29px;
  display: flex;
}

.social-icon__link svg {
  margin: auto;
}
