.social-icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 20px;

  border-bottom: 1px solid @gray;

  @media (min-width: @tablet) {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

.social-icon__item {
  margin: 3px 18px;
}

.social-icon__link {
  display: flex;
  width: 25px;
  height: 29px;

  &:hover,
  &:focus {
    color: @green-img;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-icon__link svg {
  margin: auto;
}
