.under-the-order__text {
  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 13px;
  line-height: 24px;
  color: @black-medium;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
    padding-top: 66px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop) {
    padding: 140px 170px 50px 176px;
  }
}
