.under-the-order__title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 177px;

  font-size: 27px;

  background-color: @white-dark;
}

.under-the-order__text {
  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 13px;
  line-height: 24px;
  color: @black-medium;
}
