.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: @mobile;
  margin: 0 auto;
  padding: 0 30px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: #000000;
}

.text {
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.button {
  width: @element-width;
  min-height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;

  color: @black-medium;
  border: 2px solid @black-medium;
}
