@white:#ffffff;
@white-opacity-03:#ffffff4d;
@white-opacity-09:#ffffffe6;
@white-darker:#f9f9f9;
@white-dark: #f1f1f1;
@black: #000000;
@black-opacity-06: #00000099;
@black-opacity-03: #0000004d;
@black-opacity-02: #00000033;
@black-medium: #444444;
@black-medium-opacity-01: #4444441a;
@black-medium-opacity-03: #4444444d;
@grey-light: #ededed;
@gray-medium: #ececec;
@gray: #e5e5e5;
@green: #63d1bb;
@green-dark: #56c3b2;
@green-light: #62d1ba;
@green-img: #46C1AE;
@green-light-opacity-01: #62d1ba1a;

@modal-window-shadow: 0 5px 10px #00010140;

@mobile: 320px;
@tablet: 768px;
@desktop: 1150px;
@mobile-width-only: 767px;

@mobile-content-width: 260px;
@desktop-container-indent: 170px;
@border-gray: 1px solid @gray-medium;
