@white: rgb(255, 255, 255);
@white-opacity-03: rgba(255, 255, 255, 0.3);
@white-opacity-09: rgba(255, 255, 255, 0.9);
@white-darker: rgb(249, 249, 249); //f9f9f9
@white-dark: rgb(241, 241, 241); //f1f1f1
@black: rgb(0, 0, 0);
@black-opacity-06: rgba(0, 0, 0, 0.6);
@black-opacity-03: rgba(0, 0, 0, 0.3);
@black-opacity-02: rgba(0, 0, 0, 0.2);
@black-medium: rgb(68, 68, 68); //444444
@black-medium-opacity-01: rgba(68, 68, 68, 0.1);
@black-medium-opacity-03: rgba(68, 68, 68, 0.3);
@grey-light: rgb(237, 237, 237); //ededed
@gray-medium: rgb(236, 236, 236); //ececec
@gray: rgb(229, 229, 229); //e5e5e5
@green: rgb(99, 209, 187); //63d1bb
@green-dark: rgb(86, 195, 178); //56c3b2
@green-light: rgb(98, 209, 186); //62d1ba
@green-img: rgb(70, 193, 174); //46C1AE
@green-light-opacity-01: rgba(98, 209, 186, 0.1);
@transparent: rgba(0, 0, 0, 0);

@modal-window-shadow: 0 5px 10px rgba(0, 1, 1, 0.2);
@catalog-item-border: inset 0 0 0 1px @gray-medium;
@catalog-item-shadow-hover: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
@catalog-item-shadow-active: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

@mobile: 320px;
@tablet: 768px;
@desktop: 1150px;
@mobile-width-only: 767px;

@mobile-content-width: 260px;

@border-gray: 1px solid @gray-medium;
@border-2px: 2px solid;
